main {
    margin: 0 auto;
    width: 800px;
}

/* HEADER */

header {
    background-color: azure;
}

.header-container {
    display: flex;
    display: wrap;
    margin: 0 auto;
    justify-content: space-between;
    min-width: 400px;
    max-width: 1000px;
}

header li {
    display: inline-block;
}

.logo {
    display: inline-block;
    margin: auto 0;
}

/* Section 1 */

.section-1 {
    display: grid;
    align-items: center;
    grid-template-columns: [left] 1fr [right] 1fr;
}

.about-me-text {
    grid-column: 1 / span 1;
}

.image-container {
    grid-column: 2 / span 1;
}

img {
    width: 100%;
}

/* Section 2 */

.section-2 {
    display: flex;
    justify-content: space-around;
}

.block {
    width: 28%;
}